<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/trostynskyi_db?serverTimezone=Europe/Kiev</property>
        <property name="connection.username">root</property>
        <property name="connection.password">*svyat2435592594*</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <mapping class="com.aekrops.model.entity.Coach"/>
        <mapping class="com.aekrops.model.entity.Game"/>
        <mapping class="com.aekrops.model.entity.Player"/>
        <mapping class="com.aekrops.model.entity.Referee"/>
        <mapping class="com.aekrops.model.entity.Stadium"/>
        <mapping class="com.aekrops.model.entity.Team"/>
        <mapping class="com.aekrops.model.entity.TeamStatistic"/>
    </session-factory>
</hibernate-configuration>